<!DOCTYPE html>
<html>
  <head>
    <title>RailsChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel='stylesheet'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
